html, body {
	height: 100%;
	margin: 0;
}

body {
	font-weight: 400;
	font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.expressive-heading-01 {
	font-size: 0.875rem;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: 0.16px;
	margin: 0;
}
.expressive-heading-02 {
	font-size: 1rem;
	line-height: 24px;
	font-weight: 500;
	letter-spacing: 0.16px;
	margin: 0;
}
.expressive-heading-03 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 400;
	letter-spacing: 0;
	margin: 0;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -52px; /* Offset height of footer */
}
.header {
	background-color: #161616;
	border-bottom: 1px solid #393939;
	height: 3rem;
	display: flex;
	align-items: center;
}

.header p {
	font-size: 0.875rem;
	font-weight: 600;
}

.intro {
	background-image: url(./assets/images/bg_ibm_security.jpg);
	background-size: cover;
	background-color: #161616;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}
.intro .bx--grid {
	height: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.intro .bx--row {
	flex-direction: column;
}
.welcome-banner {
	background: #0f62fe;
	color: #fff;
}

.welcome-banner p {
	margin: 0.75rem 0;
	font-size: 0.875rem;
}

.main-content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.footer {
	background-color: #161616;
}

.bx--tile {
	padding: 1rem;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.bx--tile--clickable {
	text-decoration: none !important;
	color: inherit !important;
}

.footer, .push {
	height: 52px;
}